# See https://docusaurus.io/docs/site-config#include--exclude
# Files and directories to ignore from the build output.
/build
/docs/node_modules
.docusaurus
.cache-loader
node_modules

# Resistogram data generated in dev mode
/static/resistogram-data
