# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# production
/build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Docusaurus specific
/.docusaurus
/blog/2021-08-26-welcome/endiliey.png
/blog/2021-08-01-mdx-blog-post/docusaurus-logo.png

# Playwright
/playwright-report/
/test-results/
/tests/01_landing_page.png

# Example Site
/example/build
/example/.docusaurus
/example/.cache
example/data/antibiotic_classes.csv
example/data/antibiotics.csv
example/data/data_sources.csv
example/data/eucast_expected_resistance.csv
example/data/organism_classes.csv
example/data/organisms.csv
example/data/resistance_ars_2023_germany_all.csv
example/data/resistance_ars_2023_germany_icu.csvexample/data/
